body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #f4f4f4; /* A light grey background */
    color: #154997;
}

h1 {
    color: #b30000;
}

p {
    line-height: 1.6;
}